.form-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  border: 1px solid;
  padding: 1rem;
  border-radius: 1rem;
}

.select-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.form-wrapper:hover,
.response-wrapper:hover {
  background-color: rgb(57, 57, 57);
  transition-duration: 200ms;
}
.response-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;
  padding: 1rem;
  border-radius: 1rem;
}
